@page "{id}"
@using Microsoft.FSharp.Core
@model PlayerPages.Pages.IndexModel
<!DOCTYPE html>
<html class="application">
<head>
    <title>@Model.PageProperties.title</title>

    @* Allow Firefox users to view the fallback CSS from View > Page Style *@
    <link rel="stylesheet" href="css/main.css" title="Default View" />
    <link rel="stylesheet alternate" href="css/complex.css" title="Application View" />
    <link rel="stylesheet alternate" href="css/simple.css" title="Page View" />

    <link rel="stylesheet" href="material-icons/iconfont/material-icons.css" />

    @* Allow this page to be proxied while pulling CSS and JavaScript from the original server *@
    @* If you're using a CDN, put the CDN path for this page here instead *@
    <base href="@(Request.Scheme)://@(Request.Host)@(Request.Path)" />

    @* Internet Explorer "support" is provided via VLC's ActiveX plugin *@
    @* Limit support to IE5 to keep things simple; have all other IE versions emulate it *@
    <meta http-equiv="X-UA-Compatible" content="IE=5" />

    @* Use "native" viewport on mobile devices instead of a desktop-width viewport *@
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    @foreach (var embed in Model.PageProperties.top)
    {
        @await Html.PartialAsync("Embed", embed)
    }
    <!--[if !IE]><!-->
    @* The top menu bar (not shown on Internet Explorer). *@
    <details id="menu">
        <summary>Menu</summary>
        @foreach (var media in Model.PageProperties.media)
        {
            <div class="row">
                @* By default, this link will open the media URL in a new tab *@
                @* Usually, the JavaScript will attach an event handler to open the media in the JS player instead *@
                <a class="media" target="_blank" href="@media.src">@media.title</a>
            </div>
        }
        @foreach (var link in Model.PageProperties.links)
        {
            <div class="row">
                @* This is just a normal external link *@
                <a href="@link.href" target="_blank">@link.title</a>
            </div>
        }
    </details>
    <!--<![endif]-->
    <!--[if IE]>
    @* Include an ActiveX control (for Internet Explorer) *@
    @* <embed> tag could be used to support Netscape + VLC, but causes issues with TenFourFox *@
    @foreach (var media in Model.PageProperties.media)
    {
        <h2>@media.title</h2>
        <object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921" width="640" height="320">
            <param name="src" value="@media.src" />
            <param name="autoplay" value="false" />
        </object>
    }
    <![endif]-->
    <div id="center-row">
        <main data-bind="css: { idle: idle }">
            <div id="video-box-parent">
                <div style="display: none" data-bind="visible: true">
                    <button id="play-button" data-bind="click: play, style: { visibility: paused() ? '' : 'hidden' }">
                        <span class="material-icons" aria-hidden="true">play_arrow</span> Play
                    </button>
                </div>
                <div></div>
                <div id="video-parent">
                    @* The contents of this element are controlled by JavaScript, which will insert a media player and a play button. *@
                    <p>
                        Use the menu above to select media to play.
                    </p>
                </div>
            </div>
            <!-- ko with: player -->
            @* The controls are hidden initially, and shown once Knockout has been loaded. *@
            <div class="controlgroup" style="display: none" data-bind="visible: true">
                <div class="controls" data-bind="if: levelPickerActive">
                    <div class="status line-separator">
                        Quality:
                    </div>
                    <!-- ko foreach: levels -->
                    <button data-bind="click: activate, text: name" style="flex: 0 1 auto"></button>
                    <!-- /ko -->
                    <button data-bind="click: hideLevelPicker">
                        <span class="material-icons" aria-hidden="true">close</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="controlgroup">
                    <div class="controls">
                        <button data-bind="click: togglePlay">
                            <!-- ko if: playing -->
                            <span class="material-icons" aria-hidden="true">pause</span>
                            <span class="sr-only">Pause</span>
                            <!-- /ko -->
                            <!-- ko ifnot: playing -->
                            <span class="material-icons" aria-hidden="true">play_arrow</span>
                            <span class="sr-only">Play</span>
                            <!-- /ko -->
                        </button>
                        <!-- ko if: live -->
                        <div class="status line-separator">
                            Live
                        </div>
                        <!-- /ko -->
                        <div class="spacer" role="none"></div>
                        <button data-bind="visible: hasSubtitles, click: toggleSubtitles">
                            <!-- ko ifnot: subtitlesActive -->
                            <span class="material-icons" aria-hidden="true">subtitles_off</span>
                            <!-- /ko -->
                            <!-- ko if: subtitlesActive -->
                            <span class="material-icons" aria-hidden="true">subtitles</span>
                            <!-- /ko -->
                            <span class="sr-only">Toggle subtitles</span>
                        </button>
                        <button data-bind="click: toggleMute">
                            <!-- ko if: muted -->
                            <span class="material-icons" aria-hidden="true">volume_off</span>
                            <span class="sr-only">Unmute</span>
                            <!-- /ko -->
                            <!-- ko ifnot: muted -->
                            <span class="material-icons" aria-hidden="true">volume_up</span>
                            <span class="sr-only">Mute</span>
                            <!-- /ko -->
                        </button>
                        <div class="status line-separator sr-only">
                            Volume
                        </div>
                        <input type="range"
                               id="volume"
                               data-bind="value: vol"
                               min="0"
                               max="1"
                               aria-label="Volume"
                               step="0.1" />
                        <div class="line-separator"></div>
                        @* These two buttons are presented to screen readers, but are hidden from view unless you use the Tab key to reveal them. *@
                        <button class="adv">
                            <span class="material-icons" aria-hidden="true">add</span>
                            <span class="sr-only">Volume up</span>
                        </button>
                        <button class="adv">
                            <span class="material-icons" aria-hidden="true">remove</span>
                            <span class="sr-only">Volume down</span>
                        </button>
                        @* This button reveals the quality level picker. *@
                        <button data-bind="visible: levels().length > 1, click: showLevelPicker">
                            <span class="material-icons" aria-hidden="true">hd</span>
                            <span class="sr-only">Select quality level</span>
                        </button>
                        <button data-bind="visible: canCast, click: activateCast">
                            <!-- ko if: $data instanceof CastjsPlayer -->
                            <span class="material-icons" aria-hidden="true">cast_connected</span>
                            <span class="sr-only">Stop casting</span>
                            <!-- /ko -->
                            <!-- ko ifnot: $data instanceof CastjsPlayer -->
                            <span class="material-icons" aria-hidden="true">cast</span>
                            <span class="sr-only">Cast</span>
                            <!-- /ko -->
                        </button>
                        <button data-bind="visible: canAirPlay, click: activateAirPlay">
                            <span class="material-icons" aria-hidden="true">airplay</span>
                            <span class="sr-only">AirPlay</span>
                        </button>
                        <button data-bind="visible: canFullscreen, click: toggleFullscreen">
                            <!-- ko if: fullscreen -->
                            <span class="material-icons" aria-hidden="true">fullscreen_exit</span>
                            <span class="sr-only">Exit full screen</span>
                            <!-- /ko -->
                            <!-- ko ifnot: fullscreen -->
                            <span class="material-icons" aria-hidden="true">fullscreen</span>
                            <span class="sr-only">Full screen</span>
                            <!-- /ko -->
                        </button>
                    </div>
                    @* The seek bar is hidden if the stream is live. *@
                    <div class="controls" data-bind="ifnot: live">
                        <div class="status timestamp line-separator">
                            <span class="sr-only">Timestamp:</span>
                            <span data-bind="text: currentTimeStr">0:00</span>
                        </div>
                        <input type="range"
                               aria-label="Time"
                               id="seek"
                               data-bind="value: currentTimeMs, attr: { min: 0, max: durationMs }" />
                        <div class="status timestamp line-separator">
                            <span class="sr-only">Duration:</span>
                            <span data-bind="text: durationStr">0:00</span>
                        </div>
                        @* These buttons are presented to screen readers, but are hidden from view unless you use the Tab key to reveal them. *@
                        <button class="adv" data-bind="click: back10">
                            <span class="material-icons" aria-hidden="true">replay_10</span>
                            <span class="sr-only">Back 10 seconds</span>
                        </button>
                        <button class="adv" data-bind="click: forward10">
                            <span class="material-icons" aria-hidden="true">forward_10</span>
                            <span class="sr-only">Forward 10 seconds</span>
                        </button>
                        <button class="adv" data-bind="click: back30">
                            <span class="material-icons" aria-hidden="true">replay_30</span>
                            <span class="sr-only">Back 30 seconds</span>
                        </button>
                        <button class="adv" data-bind="click: forward30">
                            <span class="material-icons" aria-hidden="true">forward_30</span>
                            <span class="sr-only">Forward 30 seconds</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </main>
        @if (!Model.PageProperties.right.IsEmpty)
        {
            <div class="embed-column">
                @foreach (var embed in Model.PageProperties.right)
                {
                    @await Html.PartialAsync("Embed", embed)
                }
            </div>
        }
    </div>
    <script src="lib/knockout/build/output/knockout-latest.debug.js"></script>
    <script src="lib/npo.js"></script>
    <script src="lib/fetch/dist/fetch.umd.js"></script>
    <script src="lib/hls.js/hls.min.js"></script>
    <script src="lib/cast.min.js"></script>
    <script type="text/javascript" src="js/pps-player.js"></script>
    <script type="text/javascript" src="js/hls-player.js"></script>
    <script type="text/javascript" src="js/castjs-player.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>